<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
{% comment %}
Copyright 2012, Le Tuan Anh (tuananh.ke@gmail.com)
This file is part of VisualKopasu.
VisualKopasu is free software: you can redistribute it and/or modify 
it under the terms of the GNU General Public License as published by 
the Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.
VisualKopasu is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License 
along with VisualKopasu. If not, see http://www.gnu.org/licenses/.
{% endcomment %}

{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{% static 'css/redmond/jquery-ui-1.9.0.custom.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/visualkopasu.css' %}" />
        <script type="text/javascript" src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui-1.9.0.custom.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/raphael-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/testutil.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/shinchan.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/visualisation_v2.js' %}"></script>

        <!-- Using delphin-viz -->
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'viz/demo.css' %}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'viz/delphin-viz.css' %}"/>
        <script type="text/javascript" src="{% static 'viz/jquery-2.2.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'viz/jquery-ui-1.11.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'viz/lodash-4.11.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'viz/svg-2.3.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'viz/d3.v3.min.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'viz/demo.js' %}"></script>
        <script type="text/javascript" src="{% static 'viz/tree.js' %}"></script>
        <script type="text/javascript" src="{% static 'viz/mrs.js' %}"></script>
        <script type="text/javascript" src="{% static 'viz/dmrs.js' %}"></script>
        <!-- End of using delphin-viz -->

        <style>
          code {
              display:block;
              white-space:pre-wrap;
          }
        </style>
        
        <script type="text/javascript">
            {% autoescape off %}
            
            var dmrs1 = new function(){
                {% comment %}
                // Nodes
                //node1 = {"text": "Linux", "from": 0, "to": 5};
                //node2 = {"text": "is", "from": 6, "to": 8};
                {% endcomment %}
                {{sentence_info.node_list}}
    
                {% comment %}
                // Links
                //link1 = { "from": node1, "to": node2 };
                {% endcomment %}
                {{sentence_info.link_list}}
    
                {% comment %}
                // Node array and Link array
                //nodes = [ node1, node2 ];
                //links = [ link1 ];
                {% endcomment %}
                this.nodes = [ {{sentence_info.node_id_list}} ];
                this.links = [ {{sentence_info.link_id_list}} ];
    
                this.sentence_text = '{{sentence_info.sentence_text}}';
            };
            {% endautoescape %}
        </script>
        <script type="text/javascript">
            {% autoescape off %}
            var dmrs_isf = new function(){
                {{dmrs_isf.node_list}}
                {{dmrs_isf.link_list}}
                this.nodes = [ {{dmrs_isf.node_id_list}} ];
                this.links = [ {{dmrs_isf.link_id_list}} ];
                this.sentence_text = '{{dmrs_isf.sentence_text}}';
            };
            {% endautoescape %}
        </script>        
        
        <script type="text/javascript">
        var console;
        var dmrs_canvas1;
        
        $(document).ready(function() {
            // Console init
            //console = new Console("console");
            //console.setEnable(false);
            
            dmrs_canvas1 = new Canvas("dmrs_canvas1");
            
            // The div for display highlightable sentence text
            dmrs1_text_holder = new VisualKopasu.SentenceText("dmrs1_text_holder", dmrs1.sentence_text);
            var visual_dmrs1 = new VisualKopasu.DMRSCanvas(dmrs1, dmrs_canvas1, dmrs1_text_holder);
            visual_dmrs1.visualise();

            initialise();

        {% autoescape off %}
        text = '{{text}}';
        dmrs_json = '{{dmrs_json}}';
        mrs_json = '{{mrs_json}}';
        {% endautoescape %}           
        visualize('viszone', text, dmrs_json, mrs_json);
        
        dmrs_isf_canvas = new Canvas("dmrs_canvas_isf");
        // The div for display highlightable sentence text
        dmrs_isf_text_holder = new VisualKopasu.SentenceText("dmrs_isf_text_holder", dmrs_isf.sentence_text);
        var visual_dmrs_isf = new VisualKopasu.DMRSCanvas(dmrs_isf, dmrs_isf_canvas, dmrs_isf_text_holder);
        visual_dmrs_isf.visualise();
        $( "#tabs" ).tabs();
        });

function visualize(divid, text, dmrs_json, mrs_json){
    var vizdivtext = $('#' + divid + "_text")
    var $vizdiv = $('#' + divid);
    vizdivtext.text(text);
    $vizdiv.empty();
    var $viz = $(Templates.viz({vizType:'dmrs'})).appendTo($vizdiv);
    dmrs = DMRS($viz[0], JSON.parse(dmrs_json));
    var $viz = $(Templates.viz({vizType:'mrs'})).appendTo($vizdiv);
    self.dmrs = MRS($viz[0], JSON.parse(mrs_json), vizdivtext);
}
        
        function initialise(){
            $("#btnHome").button().click(function(){
              window.location = "{% url 'visko1:home' %}";           
            });
        }
        
        </script>
    </head>

    <body>
      <div id="banner" class="ui-widget-header ui-corner-all">{{header}}</div>
      
      <div id="toolbar" class="ui-corner-all">
        <input type="button" id="btnHome" name="btnHome" value="Home"/>
        </div>
           <!--    
        <div style="height:300px;width:90%;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
            <div id="holder"></div>
        </div>
        -->
    
        <!--<div id="console"></div>-->
        <!--
            <div id="sentence_holder"></div>
            <hr/>
            -->

        <div id="tabs">
  <ul>
    <li><a href="#tabs-1">Delphin-viz</a></li>
    <li><a href="#tabs-2">ISF</a></li>
    <li><a href="#tabs-3">RAW</a></li>
  </ul>
  <div id="tabs-1">
    <div id='viszone'></div>
    <div id='viszone_text'></div>
  </div>
  <div id="tabs-2">
        <div id="dmrs_canvas_isf"></div>
        <div id="dmrs_isf_text_holder" class="dmrs_sentence_text"></div>

  </div>
  <div id="tabs-3">
    MRS: <code style='display:block;white-space:pre-wrap;'>{{mrs}}</code>
    <hr/>
    DMRS:<code>{{dmrs}}</code>
  </div>
</div>

    <div id="dmrs_canvas1"></div>
    <div id="dmrs1_text_holder" class="dmrs_sentence_text"></div>
        
        {% autoescape off %}
        <!--{{debug_info}}-->
        {% endautoescape %}   

    </body>
</html>
